@import "../base/_base.scss";

* {
  font-family: $primary-font;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#main-app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.page-content {
  flex: 1;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

p,
h1,
li,
span,
h3,
h4 {
  color: $text-color;
}

a {
  color: $primary-brand-color !important;
}
