.info-container img {
  width: 100%;
  height: auto;
  margin-bottom: 1em;
}

.about-container {
  padding-right: 15%;
  padding-left: 15%;
}

.about-container p, li, h4 {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 1.1em;
  line-height: 2;
}
