.footer {
  background-color: #333333;
  padding-top: 2em;
  padding-bottom: 1em;
  color: #999;
}

.social-icon {
  color: white !important;
  margin-right: 0.25em;
  margin-left: 0.25em;
}

.footer__social {
  margin-bottom: 1em;
}

.footer__copyright p {
  color: white;
}
