.title-container {
  color: white;
  padding-top: 25vh;
  height: 700px;
}

.title-container h2.title {
  color: white;
  margin-bottom: 20px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 4.8em;
  line-height: 1.15em;
  font-weight: 700;
}

.title-container h4 {
  color: white;
  margin-bottom: 60px;
  font-family: "Roboto Slab", "Times New Roman", serif;
  font-size: 1.3em;
  line-height: 1.4em;
}

.title-container {
  position: relative;
  z-index: 999;
}

.instagram {
  position: absolute;
  width: 100%;
  z-index: 2;

  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.instagram-overlay {
  background: rgba(0, 0, 0, 0.6);
}

.instagram-pic {
  position: relative;
  width: 16.666666%;
  height: 350px;
  object-fit: cover;
  z-index: -1;
}

.buttons a {
  padding: 17px 35px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  background-color: #009c82;
  border: none;
  margin-left: 5px;
  margin-right: 5px;
}

.buttons a:hover,
.buttons a:active {
  background-color: #008a6f !important;
  border: none;
}

.buttons a:unpublished:visited {
  background-color:  #009c82 !important;
  border: none;
}

.home-container {
  margin-top: 2em;
  margin-bottom: 2em;
}

.info-container {
  margin-top: 2em;
  margin-bottom: 2em;
  padding-right: 15%;
  padding-left: 15%;
}

.info-container p {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 20px;
  line-height: 2;
}

.info-container h1.header-title {
  margin-bottom: 1em;
}
