@import "styles/base/_base.scss";
@import "styles/mixins/_mixins.scss";

.title-container {
  color: white;
  padding-top: 25vh;
  height: 700px;
  position: relative;
  z-index: 999;

  h2.title {
    color: white;
    margin-bottom: 20px;
    font-size: 4.8em;
    line-height: 1.15em;
    font-weight: 700;
  }

  h4 {
    color: white;
    margin-bottom: 60px;
    font-family: $title-tagline-font;
    font-size: 1.3em;
    line-height: 1.4em;
  }
}

.instagram {
  position: absolute;
  width: 100%;
  z-index: 2;

  .instagram-overlay {
    background: rgba(0, 0, 0, 0.6);
  }

  .instagram-pic {
    position: relative;
    width: 16.666666%;
    height: 350px;
    object-fit: cover;
    z-index: -1;
  }
}

.buttons {
  a,
  button {
    @include no-border-white;
    @include button-format;

    &:hover,
    &:active {
      @include no-border-white;
      background-color: $primary-brand-hover-color !important;
    }
  }
}

.info-container {
  margin-top: 2em;
  margin-bottom: 2em;

  p {
    font-size: 20px;
    line-height: 2;
  }

  p.support-text {
    line-height: 1.25;
  }

  h1.header-title {
    margin-bottom: 1em;
  }
}

.description-container {
  padding-right: 15%;
  padding-left: 15%;
}

div.mailchimp {
  width: 25%;
}

@media only screen and (max-width: $breakpoint-mobile) {
  div.mailchimp {
    width: 100%;
  }

  .instagram-pic {
    width: 50%;
    height: 233px;
  }

  .title-container h2.title {
    font-size: 4.25em;
  }
}
