* {
  margin: 0;
}

html,
body,
#root {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

p,
h1,
li,
span,
h3,
h4 {
  color: #555;
}

.hidden {
  display: none;
}

a {
  color: #009c82 !important;
}

.wrapper {
  min-height: 100%;
  position: relative;
  /* height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
  /* height: 100%; */
  /* margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height  */
}
.footer,
.push {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 155px; /* .push must be the same height as .footer */
}
