$text-color: #555;
$primary-brand-color: #009c82;
$primary-brand-hover-color: #008a6f;

$breakpoint-mobile: 600px;

$primary-font: "Roboto", "Helvetica", "Arial", sans-serif;
$title-tagline-font: "Roboto Slab", "Times New Roman", serif;
